<!DOCTYPE html>
<html>
  <head>
  <title>Junk Drawer : Letter—Fragments</title>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://benknoble.github.io/assets/css/styles.css" media="screen">

  <script src="/assets/js/scale.fix.js"></script>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" >
  </script>

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link type="application/atom+xml" rel="alternate" href="https://benknoble.github.io/feed.xml" title="Junk Drawer" />
</head>

  <body>
    <header>
  <h1>
  <a href="https://benknoble.github.io/">
  <img src='/assets/img/logo.png' alt='Junk Drawer Logo' width=32 height=32> Junk Drawer</a></h1>
  <p>For all those little papers scattered across your desk</p>
</header>

    <section>
      <nav>
  <ul>
    
    <li class="">
      <a href="https://benknoble.github.io/about/">About</a>
    </li>
    
    <li class="">
      <a href="https://benknoble.github.io/categories/">Posts</a>
    </li>
    
    <li class="">
      <a href="https://benknoble.github.io/workshops/">Workshops</a>
    </li>
    
    <li class="">
      <a href="https://benknoble.github.io/papers/">Papers</a>
    </li>
    
    <li class="">
      <a href="https://benknoble.github.io/writings/">Writings</a>
    </li>
    
    <li class="">
      <a href="https://benknoble.github.io/reading/">Reading List</a>
    </li>
    
  </ul>
</nav>

      <h1>Letter—Fragments</h1>
      <p class="meta">Written 11 May 2016 by <span class="authors">
  
  
    D. Ben Knoble
  
</span>
</p>
<div id="writing">
  <p>A wandering mind produced this out of struggle and love.</p>

<hr />

<p>Cauldron burn and cauldron bubble like the roiling, frothing ocean of the heart.
Watch the pink sunrise set and disappear, shattering its beauty into a thousand
fragmented stars and a thousand more broken, empty spaces, leaving only the dark
cold night to play tricks on the mind.</p>

<p>But somewhere in those empty spaces we find the night in all its beauty, and it
leaves us stunned by the wide open space of an inconceivable universe, by the
boundless explosion of stars and fire and color until it all spirals back,
falling in on itself and collapsing in the curve of the earth into a single
bright spot—your eyes. A reflected radiance shines out of them, and I’m lost
falling into them where I know, I know with absolute certainty that you’ll catch
me and pull me in to a deep, comforting sleep in your embrace.</p>

<p>When the sun peeks through, you’ll be there, skin warm, and I’ll be there,
looking up at you, smiling. No words needed. A single glance sends thousands of
fragmented memories racing through my head and I know that I’m the lucky one.
Surrounded in the bright light, sheltered from a cruel world, we exist. We are.
We warm each other, calm the turmoil of the heart into a shining honey that
threatens to spill over and drown us in sweet, sweet love. You show me how
pretty the world is with every moment, every dance in your step, every still
glance, every peal of laughter from glowing bells.</p>

<p>It’s taken time to polish those bells, to clean them after they were lost in the
mire, but they’re here now, having survived wars and bombs and invasion. And now
they’re mine to defend, protect, and care for. They’re scarred, scratched, and
the sound has changed over the years, but still I know how to make them ring
vibrantly, sending rays of glorious yellow-red happiness awash over my world.
You are my world. I’m no Atlas; I can’t hold you for eternity. But I’m damn well
going to try, to lift you up and bear you into the sky to show you the freedom
of flight and the open expanse of blue and white that welcomes you and your
angelic presence.</p>

<p>I’ve gone long enough waiting for the right words, the right friend, the right
sounds, colors, heartbeat. You sing to me sweetly, never letting me go, and you
are the right everything. You always have been. Patience is only a virtue
sometimes, so today I’m done waiting—I’m going to stop standing still and run
towards you to where I belong. I’ve seen the shattering of night, the
fragmenting of sunsets, the scarring of bells, and still nothing stirs in me an
emotional well like looking at you. Every time I see you, it’s a beautiful
symphony in my head, a thumping heartbeat in my veins, a colorful supernova
waiting to bring forth new life. You may think I blow you out of proportion with
my grandiose descriptions and sweeping pictures of you and your presence in my
life, but I assure you that all of this rings true for me every single day, with
every glance, ever laugh.</p>

<p>It really is that simple. Love is a fight to find out which imperfections we can
live with, and marriage is just a choice we have to choose to make every day.
We’ve made it every day so far, by getting up and remembering each other, by
being there for each other in every single moment, by choosing to try again. And
I know I’m going to keep making it, one way or another. For now, patience is a
virtue. We have all the time we need for whatever is to come. We have lives
ahead of us that could fragment in a thousand different directions and love that
can stay true through all of them. We don’t need to tackle the future now. But I
want to tackle the present, today, with you by my side. I want to do everything
with you and for you, and I’m going to if you’ll let me.</p>

</div>

<div id="disqus_thread"></div>
<div class="load-comments" onclick="load_comments(this)">Load Comments</div>
<script>
  var disqus_shortname = 'https-benknoble-github-io';
  var disqus_config = function () {
    this.page.url = "https://benknoble.github.io/writings/fragments/";
    this.page.identifier = "/writings/fragments";
  };

  function load_comments(div) {
    var d = document, s = d.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    div.parentNode.removeChild(div)
  };
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


<div id="back-to-writings">
  <a href="/writings/#letter-fragments">
    Back to writings</a>
</div>

    </section>
    <footer>
<hr/>
  <ul>
    
    <li>
      <a href="https://benknoble.github.io/">Home</a>
    </li>
    
    <li>
      <a href="https://benknoble.github.io/contact/">Contact</a>
    </li>
    
    <li>
      <a href="https://benknoble.github.io/sitemap.xml">Sitemap</a>
    </li>
    
    <li>
      <a href="https://benknoble.github.io/feed.xml">RSS Feed</a>
    </li>
    
    <li>
      <a href="https://benknoble.github.io/colophon/">Colophon</a>
    </li>
    
    <li>
      <a href="https://github.com/benknoble/benknoble.github.io/blob/master/LICENSE">Copyright D. Ben Knoble</a>
    </li>
    
    <li>
      <p xmlns:cc="http://creativecommons.org/ns#" ><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC-SA 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt=""></a></p>
    </li>
  </ul>
</footer>

    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <script>
      (function() {
        var script = document.createElement('script');
        window.counter = 'https://benknoble_github_io.goatcounter.com/count'
        script.async = 1;
        script.src = '//gc.zgo.at/count.js';

        var ins = document.getElementsByTagName('script')[0];
        ins.parentNode.insertBefore(script, ins)
      })();
    </script>
  </body>
</html>
