<form
  style="border:1px solid #ccc;padding:3px;text-align:center;"
  action="https://feedburner.google.com/fb/a/mailverify"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=github/ZRoM', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
  <p>Subscribe</p>
  <input
    placeholder="name@example.com"
    type="text"
    style="width:140px"
    name="email"/>
  <input
    type="hidden"
    value="github/ZRoM"
    name="uri"/>
  <input
    type="hidden"
    name="loc"
    value="en_US"/>
  <input
    type="submit"
    value="Subscribe"
    />
</form>
