---
# this ensures Jekyll reads the file to be transformed into CSS later
# only main files contain this front matter, not partials.
---

@use "syntax";

@import url('https://cdn.jsdelivr.net/npm/victormono@latest/dist/index.min.css');
@import url('https://cdn.jsdelivr.net/npm/charter-webfont@latest/charter.min.css');

body {
  font: 18px Charter, Charter Bitstream, serif;
  line-height: 1.4;
  // color: #444;
  background: #fafafa;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
}

header,
section,
footer {
  display: block;
}

a {
  color: #069;
}

p {
  padding: 0;
}

strong {
  color: #222;
  font-weight: 700;
}

header {
  background: #C6EAFA;
  position: relative;
  padding: 1em 1em;

  h1 {
    margin: 0;
    padding: 0;
    color: #069;
  }

  p {
    margin: 0;
    color: #61778B;
    font-size: 0.9em;
  }
}

section {
  padding: 1em 5em;
  background: #fafafa;
  position: relative;
  max-width: 80ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 2.3em 0 1.3em 0;
  line-height: 1.2;
}

h1 {
  font-size: 30px;
}

h2, h3, h4, h5, h6 {
  font-size: 20px;
}

@each $h in [h1, h2, h3, h4, h5, h6] {
  section #{$h} {
    position: relative;
    &::before {
      content: '' + $h + '.';
      position: absolute;
      left: -2em;
      color: grey;
    }
  }
}

p,
ul,
ol,
li,
table,
pre,
dl {
  margin: 0 0 1em;
}

ul ul,
ol ol,
ul ol,
ol ul,
li pre {
  margin: 1em 0 1em;
}

blockquote {
  padding: 1em;
  font-style: italic;
  margin: 0 0 1em 2em;
  font-size: 16px;

  p:last-child {
    margin: 0;
  }
}

figure {
  margin: auto;
}

img {
  max-width: 100%;
}

code,
pre {
  font-family: 'Victor Mono', monospace;
  font-variant-ligatures: no-contextual;
  font-size: 16px;
  overflow-x: auto;
}

pre {
  padding: 1em;
  color: #f8f8f2;
}

table {
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 0.25em 0.5em;
  border-bottom: 0.1em solid #aaa;
}

hr {
  border: 0;
  background: #aaa;
  height: 0.1em;
  margin: 0 0 1em;
}

footer ul {
  list-style: none;
}

footer {
  // doesn't work???
  // background: #c6eafa;
  li {
    float: left;
    padding: 0.5em;
  }
}

nav {
  overflow: hidden;
  padding-bottom: 1em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
  margin: 0.1em;
}

nav li.active a {
  color: #555;
  cursor: default;
  &:hover {
    background: #fafafa;
  }
}

#post-navigation #no-previous,
#post-navigation #no-next,
#post-navigation #previous a,
#post-navigation #next a,
#back-to-workshops a,
#back-to-writings a,
#back-to-posts a,
nav a {
  display: block;
  text-align: center;
  padding: 0.1em;
  font-weight: bold;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

#post-navigation #previous a:hover,
#post-navigation #next a:hover,
#back-to-writings a:hover,
#back-to-posts a:hover,
nav a:hover {
  background-color: #c6eafa;
}

@media print, screen and (max-width: 740px) {

  section {
    padding: 0em 1em;
  }

  @each $h in [h1, h2, h3, h4, h5, h6] {
    section #{$h}::before {
      left: 0em;
      top: -1em;
    }
  }

}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  li {
    float: left;
    margin: 0;
  }
}

.tag {
  background: #C6EAFA;
  color: #000;
  display: inline-block;
  padding: 0 1em 0 1em;
  margin: 0 0.5em 0.5em 0;
  text-decoration: none;

  &:hover {
    background-color: #DEDEDE;
    color: #069;
  }
}

.tag-title,
.archive-title {
  float: left;
}

.tag-date,
.archive-date {
  float: right;
}

#tag-list,
#archive-list {
  margin-bottom: 1em;
}

.clearfix {
  clear: both;
}

#post-navigation #no-previous,
#post-navigation #previous a {
  float: left;
}

#post-navigation #no-next,
#post-navigation #next a {
  float: right
}

#back-to-workshops,
#back-to-writings,
#back-to-posts {
  clear: both;
  text-align: center;
  position: relative;
  top: 0.1em;
  margin-bottom: 1em;
}

.center {
  margin: auto;
  width: 50%;
}

.meta {
  font-style: italic;
}

p.meta {
  padding-left: 3em;
}

.authors {
  font-style: normal;
}

kbd {
  display: inline-block;
  margin: 0 .1em;
  padding: .1em .6em;
  font-size: 14px;
  line-height: 1.4;
  color: #242729;
  text-shadow: 0 1px 0 #FFF;
  background-color: #e1e3e5;
  border: 1px solid #adb3b9;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.2), 0 0 0 2px #FFF inset;
  white-space: nowrap
}

.load-comments {
  display: block;
  text-align: center;
  text-decoration: underline;
  color: #069;
  cursor: pointer;
  font-weight: bold;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 0.1em;
  &:hover, &:active {
    background-color: #c6eafa;
  }
  margin-bottom: 0.1em;
}

.post {
  margin-bottom: 0.75em;
}

iframe.scribbled {
  width: 100%;
  height: 50rem;
}

// dim Racket parens
div.language-racket {
  .highlight {
    .p {
      color: syntax.$dt-blue;
    }
  }
}

.highlight {
  .c,
  .ch,
  .cm,
  .cpf,
  .c1,
  .cs {
    font-style: italic;
    color: syntax.$dt-blue;
  }

  .bp,
  .kd,
  .nb,
  .nl,
  .nv,
  .vc,
  .vg,
  .vi,
  .vm {
    font-style: normal;
  }
}
