---
layout: default
---
{% include tags.html tags=page.tags %}
<p class="meta"><i>{{ page.date | date_to_string }}</i></p>
<div class="post">
  {{ content }}
</div>
<div class="post-navigation">
  {% if page.previous.url %}
  <span class="previous">
    <a href="{{ page.previous.url | absolute_url }}"
      title="{{ page.previous.title }}">
      Previous
    </a>
  </span>
  {% else %}
  <span class="no-previous">Previous</span>
  {% endif %}
  {% if page.next.url %}
  <span class="next">
    <a href="{{ page.next.url | absolute_url }}"
       title="{{ page.next.title }}">
      Next
    </a>
  </span>
  {% else %}
  <span class="no-next">Next</span>
  {% endif %}
</div>
<div class="back-to-blog">
  <a href="{{ "/blog" | absolute_url }}">Back to blog</a>
</div>
