---
layout: default
---
{% include tags.html tags=page.tags %}
<p class="meta">{{ page.date | date_to_string }} in {{ page.categories | array_to_sentence_string }}</p>
<div id="post">
  {{ content }}
</div>
<div id="post-navigation">
  {% if page.previous.url %}
  <span id="previous">
    <a href="{{ page.previous.url | absolute_url }}"
      title="{{ page.previous.title }}">
      Previous
    </a>
  </span>
  {% else %}
  <span id="no-previous">Previous</span>
  {% endif %}
  {% if page.next.url %}
  <span id="next">
    <a href="{{ page.next.url | absolute_url }}"
       title="{{ page.next.title }}">
      Next
    </a>
  </span>
  {% else %}
  <span id="no-next">Next</span>
  {% endif %}
</div>
<div id="back-to-blog">
  <a href="{{ "/blog" | absolute_url }}">Back to blog</a>
</div>
